<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <link href="~/Content/assets/logo/Logo.png" rel="icon" type="image/x-icon">
    <title>@ViewBag.title</title>

    <!-- Bootstrap Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/jquery.metisMenu.js"></script>
    <script src="~/Content/assets/js/custom-scripts.js"></script>

    <!-- FontAwesome Styles-->
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/assets/css/custom-styles.css" rel="stylesheet" />

    <!-- Font Family End -->
    <style>
        /* Sign Up */
        .signup {
            font-family: 'Segoe UI';
            font-size: 50px;
            font-weight: bold;
            color: #454444;
            text-align: center;
        }

        .btn-warning {
            width: 100%;
        }
    </style>

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand text-center" href="index.html">
                    <strong>
                        LMS
                    </strong>
                </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                <!-- dropdown for user -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw fa-lg"></i> <span style="color:orangered;">@User.Identity.Name</span> <i class="fa fa-caret-down fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="~/userDetails/ChangePassword"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                            </li>
                            <li>
                                <a href="~/Default/SignOut"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        }

                    </ul>
                </li>
                <!-- dropdown for user -->
            </ul>

        </nav>
        <!-- vertical nav  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            <li>
                                <a href="~/attendances/Index" class="Attendance"><i class="fa fa-user-plus"></i> Attendance</a>
                            </li>
                            <li>
                                <a href="~/examAttends/Index" class="Exam-Attended"><i class="fa fa-pencil-square-o"></i> Exam Attended</a>
                            </li>
                            <li>
                                <a href="~/books/Index" class="Book"><i class="fa fa-user"></i> Book</a>
                            </li>
                        }
                        if (User.IsInRole("Teacher"))
                        {
                            <li>
                                <a href="~/batches/Index" class="Batch"><i class="fa fa-star"></i> Batch</a>
                            </li>
                            <li>
                                <a href="~/exams/Index" class="Exam"><i class="fa fa-pencil-square-o"></i> Exam</a>
                            </li>
                            <li>
                                <a href="~/courses/Index" class="Course"><i class="fa fa-clone"></i> Course</a>
                            </li>
                            <li>
                                <a href="~/diplomata/Index" class="Diploma"><i class="fa fa-graduation-cap"></i> Diploma</a>
                            </li>
                            <li>
                                <a href="~/books/Index" class="Book"><i class="fa fa-user"></i> Book</a>
                            </li>
                        }
                        if (User.IsInRole("Coordinator"))
                        {
                            <li>
                                <a href="~/batches/Index" class="Batch"><i class="fa fa-star"></i> Batch</a>
                            </li>
                            <li>
                                <a href="~/exams/Index" class="Exam"><i class="fa fa-pencil-square-o"></i> Exam</a>
                            </li>
                            <li>
                                <a href="~/examAttends/Create" class="Mark-Exam"><i class="fa fa-table"></i> Mark Exam</a>
                            </li>
                            <li>
                                <a href="~/courses/Index" class="Course"><i class="fa fa-clone"></i> Course</a>
                            </li>
                            <li>
                                <a href="~/diplomata/Index" class="Diploma"><i class="fa fa-graduation-cap"></i> Diploma</a>
                            </li>
                            <li>
                                <a href="~/books/Index" class="Book"><i class="fa fa-user"></i> Book</a>
                            </li>
                        }
                        if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="~/batches/Index" class="Batch"><i class="fa fa-star"></i> Batch</a>
                            </li>
                            <li>
                                <a href="~/exams/Index" class="Exam"><i class="fa fa-pencil-square-o"></i> Exam</a>
                            </li>
                            <li>
                                <a href="~/examAttends/Create" class="Mark-Exam"><i class="fa fa-table"></i> Mark Exam</a>
                            </li>
                            <li>
                                <a href="~/courses/Index" class="Course"><i class="fa fa-clone"></i> Course</a>
                            </li>
                            <li>
                                <a href="~/diplomata/Index" class="Diploma"><i class="fa fa-graduation-cap"></i> Diploma</a>
                            </li>
                            <li>
                                <a href="~/students/Index" class="Student"><i class="fa fa-male"></i> Student</a>
                            </li>
                            <li>
                                <a href="~/coordinators/Index" class="Coordinator"><i class="fa fa-users"></i> Coordinator</a>
                            </li>
                            <li>
                                <a href="~/teachers/Index" class="Teacher"><i class="fa fa-user-circle-o"></i> Teacher</a>
                            </li>
                            <li>
                                <a href="~/userDetails/Index" class="User"><i class="fa fa-user"></i> User</a>
                            </li>
                            <li>
                                <a href="~/books/Index" class="Book"><i class="fa fa-book"></i> Book</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
        <!-- vertical nav  -->

        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
    </div>
</body>


</html>
<script type="text/javascript">
    function del(who, id) {
        $(who).hide();
        $('#' + id).show();
    }
</script>